@charset "utf-8";
.popBg{ @extend %pop; display:block;
    &.than{ z-index: 1009!important;}
}

// 没有预约课程
.popNotWrap{ padding-bottom:100px; text-align: center; display:none;
    &.big{ padding-top:24%;}
    &.moreBig{ padding-top:43%;}
    img{ width:cal(160,375);}
    p{ font-size: 12px; color: #9B9B9B; margin-top:3px;}
}

.popRed{ height:390px; width:cal(270,375); background-image: linear-gradient(-180deg, #FF8463 0%, #FF5D31 100%); border-radius: 8px; left:0; right:0; top:0; bottom:0; margin:auto; position:fixed; text-align: center; z-index: 1002!important;
    &.than{ z-index: 1010!important;}
    .choose{ padding:0 30px; max-height:200px; overflow-y:scroll;
        &.min{ padding-top:15%;}
        p{ color:#fff; font-size:14px; text-align: center; line-height:normal; border-radius:100px; border:1px solid #fff; margin-bottom: 10px; padding:10px;}
        p.active{ background-color:#fff; color:$colorh; }
        span{ font-size:14px; margin-left:-5px; margin-right:3px;}
    }
    .close{ position:absolute; z-index: 3; width:50px; height:50px; color:#fff; line-height:1; right:0; top:0; text-align:right; padding-right: 11px; padding-top: 10px;
        &:before{ font-size:12px;}
    }
    .img{ background-color:#fff; padding:8px; border-radius:50%; overflow:hidden; width:42px; height:42px; text-align: center; line-height:42px; margin:0 auto; margin-top: 40px;
        // img{ width:30px;}
    }
    .tip{ color:#fff; margin-top: 20px; margin-bottom:10px;}
    .des,p{ color:#fff; text-align:left; }
    .des{ padding:0 25px; @extend %fontPF;text-align: center;
        img{ width:cal(100,270); margin-top: 20px; border:5px solid #fff;}
    }
    .button{ position:absolute; bottom:20px; background: #FFFFFF; color:$colorh; border-radius: 100px; height:40px; line-height:40px; left:0; right:0; margin:auto; width:132px;  @extend %fontPFR; font-size:14px;}  
}


//提醒弹框
.popMin{ width:240px; height:117px; background:rgba(0,0,0,0.75); border-radius:8px; position:fixed; left:0; right:0; top:0; bottom:0; margin:auto; text-align: center; z-index:9999!important;
    .icon_imp{ color:#FF5D31; display:inline-block; margin-top:29px; margin-bottom:13px; font-size:30px;}
    .txt{ color:#fff; padding:0 5px;}
    @include screen(640px) { width:200px; height:94px; 
        &.big{ height:114px;}
        .icon_imp{ margin-top: 18px; margin-bottom:10px; font-size:16px;
            &:before{ font-size:23px;}
        }
        .txt{ font-size:13px;}
    }
}


//选择弹框
.popOr{width:cal(270,375); height:112px; background-color:#f8f8f8; border-radius:4px; position:fixed; left:0; right:0; top:0; bottom:0; margin:auto; z-index: 1010!important;
    &.than{ z-index: 1010!important;}
    &.big{ height:134px; 
        .tip{ padding-top: 14px; }
        .clearfix{  margin-top: 10px;}
    }
    .tip{ text-align:center; font-size: 16px; color: #353535;  @extend %fontPF; padding-top: 20px;}
    .des{ font-size: 13px;  color: #353535; padding:0 32px; text-align: center;}
    .btn{ color:#a5a4a4; text-align:center; font-size: 16px; color: #0076FF; @extend %fontPF; width:50%; height:44px; line-height:44px; }
    .clearfix{  border-top:1px solid #C2C2C2;  margin-top:22px;}
    .btn:first-child{ border-right:1px solid #c2c2c2;}
}


//登陆注册弹框
.loginMain{ height:326px; width:cal(270,375); padding:40px 10px 0 10px;  border-radius:4px; overflow: hidden;  background-color:#fff; left:0; right:0;  top:0; bottom:0; z-index:1010!important; position:absolute; margin:auto;
    .loginTitle{ text-align: center; 
        img{ width:53.3%;}
        p{ font-size: 16px; color:#474747; line-height:21px;}
    }
    ul{ width:100%; margin-top:20px; }
    .loginType{ padding:0 14px;
        p{ font-size: 12px; color: #474747; text-align:right;  margin-top:-3px; }
    }
    li{ margin-bottom:15px; position:relative;
        .getCode{ right:20px; top:12px; color:#A5A4A4; z-index:811; cursor:pointer; position:absolute; line-height:1;
            padding:5px 0; background-color:#F8F8F8; border:0px; outline:none; font-size:12px;}
        .getCode.active{ color:#FF5D31;}
        .clear{ padding:4px 2px; line-height: 1;
            .big{ width:16px; margin-left: 16px;}
            img{ width:13px; vertical-align: middle; }
        }
        .clearTel{ right:87px; top:11px; position:absolute; 
            &.right{ right:20px;}
        }
        .clearCode{ right:20px; top:12px; position:absolute;  }
        .input{ font-size:14px; color:#000; line-height:1; background-color:#F8F8F8; border-radius: 100px; border:0px none; padding:15px 20px; width:100%; font-size:12px; } 
    }

    .loginButton{ background-color:#A5A4A4; color:#fff; width:58%; height:45px; line-height:45px;  text-align: center; font-size:16px;  border-radius: 100px; margin-top:26px;  @extend %fontPF; box-shadow: 0 2px 10px 0 rgba(165,164,164,0.45); position:absolute; bottom:38px; left:0; right:0; margin:0 auto;
        &.active{  background-image: linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); box-shadow: 0 2px 10px 0 rgba(255,93,49,0.45);}
    }
}


